body {
  background-image: linear-gradient(to bottom right,bisque,pink,teal);
  width: 100%;
  height: 700px;
  
}
h1 {
  font-family: "Courier New";
  color:crimson;
  border: dotted 10px rgb(250, 179, 191);
  padding: 15px;
  margin-bottom: 30px;
  margin-left: 300px;
  margin-right: 300px;
  margin-top: 30px;
  text-shadow: 1px 1px 1px blueviolet;
  text-align: center;
  font-size: 15vmin;
}

main {
  margin-left: 150px;
  margin-right: 150px;
  justify-content: space-evenly;
}

h2 {
  font-family: "Courier New";
  color:blueviolet;
  text-align: left;
  font-size: 5vmin; 
}

h3 {
  font-family: "Courier New";
  color:blueviolet;
  text-align: right;
  font-size: 5vmin;
}

h4 {
  font-family: "Courier New";
  color: blueviolet;
  text-align: left;
  font-size: 5vmin;
}

h5 {
  font-family: "Courier New";
  color:blueviolet;
  text-align: right;
  font-size: 5vmin;
}

h6 {
  font-family: "Courier New";
  color: blueviolet;
  text-align: center;
  font-size: 5vmin;
}